
@import url('https://fonts.googleapis.com/css?family=Lato:100');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');




/* Common CSS */

.header {

    position: fixed;
    height: 70px;
    width: 100%;
    background-color: black;
    z-index: 1000;
    outline: none;
}

.links-wrapper {
    visibility: hidden;
}

#triangle {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 120px;
    height: 70px;
    list-style: none;
    transform-origin: 50% 50%;
}

svg polygon {
    stroke-dasharray: 17;
    animation: dash 1.5s infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 100;
    }
}

.menu {

    position: absolute;
    top: 0%;
    right: 0%;
    height: 70px;
    width: 60px;
    cursor: pointer;
}

.menu-icon {

    position: absolute;
    top: 50%;
    right: 5%;
    width: 30px;
    height: 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.menu-line {
    position: absolute;
    left: 0;
    background-color: black;
    height: 3px;
    width: 100%;
    border-radius: 3px;
    pointer-events: none;
    background-color: white;
}

.menu1 {
    top: 0;
}

.menu2 {
    top: 0;
    bottom: 0;
    margin: auto;
}

.menu3 {
    bottom: 0;
}

.menu-close .menu1 {

    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.menu-close .menu2 {
    right: 0;

    transition: right .5s ease-in-out, opacity .5s ease-in-out, transform 0s ease-in-out, -webkit-transform 0s ease-in-out;
}

.menu-close .menu3 {

    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.menu-close.open .menu1 {
    -webkit-transform: translate3d(0, 8.5px, 0) rotate(135deg);
    transform: translate3d(0, 8.5px, 0) rotate(135deg);
}

.menu-close.open .menu2 {
    opacity: 0;
    right: -120px;
    -webkit-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0);
    -webkit-transition: opacity .5s ease-in-out, right .0s ease-in-out .5s, -webkit-transform .5s ease-in-out;
    transition: opacity .5s ease-in-out, right .0s ease-in-out .5s, -webkit-transform .5s ease-in-out;
    transition: opacity .5s ease-in-out, transform .5s ease-in-out, right .0s ease-in-out .5s;
    transition: opacity .5s ease-in-out, transform .5s ease-in-out, right .0s ease-in-out .5s, -webkit-transform .5s ease-in-out;
}

.menu-close.open .menu3 {
    -webkit-transform: translate3d(0, -8.5px, 0) rotate(-135deg);
    transform: translate3d(0, -8.5px, 0) rotate(-135deg);
}

.overlay-content {
    position: fixed;
    top: 70px; left:0;
    background-color: black;
    display: none;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 2em;
    overflow-y: scroll;
}

.overlay-content::-webkit-scrollbar {
    display: none;
}

.overlay-links {
    padding: 3em;
}

.overlay-links .link {
    padding: 20px;
}

.overlay-links .link a {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
}




.story_banner {

    width: 100%;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/192933/pexels-photo-192933.jpeg?w=940&h=650&auto=compress&cs=tinysrgb.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
}


.banner-tagline {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;

}



.tagline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size:1em;
    font-family: 'Lato', sans-serif;
    font-kerning: normal;
    font-variant: small-caps;


}
.banner-tagline h2 {
    font-family: 'Lato', sans-serif;
    font-kerning: normal;
    font-variant: small-caps;
    font-weight: 900;
    font-size:3em;
    margin: auto;
}

.tagline p {
    font-size: 1em;
    word-spacing: .2em;
    padding:.2em;
    margin: auto;
}

.story_heading{
        width: 100%;
        height: auto;
        padding: 7em 0 0  0;
}
.story {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 2em 0;

}

.story1 {
    width: 100%;
    height:100%;
    background-color:black;
    padding:0em 0;
    display: flex;
    flex-direction: column;

}
.story_img{
    width:100%;
    height:100%;
    background-image:url('https://images.pexels.com/photos/264537/pexels-photo-264537.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
    background-size: cover;
    background-position: center;

}
.story_title {
        width:100%;
        height: 100%;
        padding: 1em 2em;

    }
 div h1 {
    padding: .2em 0;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: bolder;
    font-kerning: normal;
    font-variant: small-caps;

}

.story_title p {

    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    line-height: 2em;
}

.tagline1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5em;

}


::-webkit-scrollbar {
    width: 3px;

}

::-webkit-scrollbar-thumb {

    background-color: rgb(255, 255, 255);

}

::-webkit-scrollbar-track {

    background-color: rgb(0, 0, 0);

}

.social{

      width:100%;
      height:auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:center;
      padding: 2em ;

}


.social i{
    font-size: 1.5em;
    padding:.5em;
    color:white;
    transition: all 200ms ease-in;
}

.social i:hover{
  transform: scale(1.5);
}




.footer {
    width: 100%;
    height: auto;
    background-color: black;
    padding:2em 1em;
}

.footer-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.footer-wrapper_titles {
    width: 100%;
    height: 300px;
    padding: 1.5em;
    text-align: center;
}
.svg-icon {
    width: 50px;
    height: 40px;
    color: white;
    fill: white;
}
.footer-wrapper_titles h2 {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 1em;
    font-weight: bolder;
    color: white;
}

.footer-wrapper_titles p {
    font-family: sans-serif;
    font-size: 15px;
    padding: 1em;
    color: rgb(42, 41, 39);
    line-height: 1.5em;
}
.border {
    width: 80%;
    margin: auto;
    border-top: 1px solid #595959;

}

.border1 {
    width: 100%;
    margin: auto;
    border-top: 1px solid #595959;

}
