/* base lauout */
@import url('https://fonts.googleapis.com/css?family=Lato:100');

html, body{  font-family: 'Lato', sans-serif; height: 100%; width: 100%;}

h1{
    padding: .2em 0;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 3em;
    letter-spacing:0em;
    color: red;
    font-kerning: normal;
    font-variant: small-caps;
}
h2{
font-size:1.5em;
letter-spacing:0em;
line-height: 2em;
font-family: 'Lato', sans-serif;
font-weight: bolder;
color: rgb(23, 168, 231);
font-kerning: normal;
font-variant: small-caps;

}
p{
   font-family: 'Lato', sans-serif;
   font-size:1em;
   padding: 1em  0 0 0;
   line-height:2em;
   color: #777777;
}
a{ color: inherit; text-decoration: none;}
a:hover{ text-decoration: none;}
a:focus{ outline: 0;}
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.no-select{ -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
