@media(min-width:48em) {
.header {
        height: 80px;
        background-color: transparent;
}
.menu {
        display: none;
    }
.overlay-content {
        visibility: hidden;
    }
.logo{
    padding: 1.5em 1.5em;
    position: absolute;
    top:.5%;
    left: 5%;
    transition: all .4s ease-in-out;
}

.logo.sticky{
    padding: .3em 1.5em;
}
 .links-wrapper {
        transition: all .4s ease-in-out;
        display: flex;
        justify-content:flex-end;
        padding-right: 5em;
        height:auto;
        overflow: hidden;
        margin: auto;
        visibility: visible;
        list-style: none;

    }
    .links-wrapper.sticky {
      height: 60px;
      background-color:black;

    }
.links  {
        padding: 2.5em 1.5em;
        text-decoration: none;
        color: white;
        font-weight: 900;
        font-size: 1em;
        font-family: 'Lato', sans-serif;
        font-variant: small-caps;
        letter-spacing: 3px;
        transition: all .5s ease-in-out;
    }
.links.sticky{
    padding: 1.5em 1.5em;
    font-size: .9em;

}
.links::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        margin: .5em 0;
        background: #A9A9A9;
        transition: width .3s;
    }
.links:hover::after {
        width: 100%;
        transition: width .3s;
    }



    .prev, .next{
        z-index: 1000;
    }
    .prev {
        left:2%;
    }
    .next {
        right:2%;
    }































.story {
            height:110%;
            display: flex;
            flex-direction: row;
            justify-content:center;
        }
        .story_child {
            width:50%;
            padding: 1.5em 5em;
        }
.story_img , .story_img1 {
            width:100%;
            height: auto;
        }




.story_child_img {
        width:100%;
        height:100%;

    }













.circle-container {
        flex-direction: row;
    }

.circle {
        width: 220px;
        height: 220px;
        text-align: center;
        margin: auto;
        padding: 3em;
        border-radius: 50%;
        background-color: #FAEBD7;
    }
.circle-svg-icon {
        width: 5em;
        height: 3em;
    }
.circle h1 {
            font-size: 1.5em;
        }














.svg_banner{
           width: 100%;
           height:120%;
    }
    .tagline{
        text-align: center;
    }

.tagline h2 {
        font-size:1.5em;
        padding:.2em 0;
        text-align: center;
    }

.tagline h1 {
                font-size:5em;
                letter-spacing: 0;

}
.taglined {

       color: white;
       text-align: center;
       position: absolute;
       top: 20%;
       left: 50%;
       transform: translate(-50%, -50%);

}
.taglined h3{
        font-family: 'Lato', sans-serif;
        font-size:5em;

}








.food_menu{
        padding:6em 0 2em;
    }

.food_list{
    padding: 0em 5em ;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content:space-around;

}
.list{
    width:100%;
    height: auto;
    padding:0em 3em 5em 3em;



}
















.gesmo_team_wrapper_sub_container{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns:repeat(4, 1fr);
        grid-auto-rows:  minmax(100px, auto);
        grid-gap: 5px;

}

.gesmo_team_wrapper{
    width: 100%;
    height:auto;
    padding: 0em 0;


}
.gesmo_team_wrapper_sub{
    width:100%;
    height:auto;


}

.gesmo_team_wrapper_sub h1{
            font-family: 'Lato', sans-serif;
            font-size: 2em;

}
.gesmo_team_wrapper_sub:nth-child(even) {
            background-color:white;
            height:auto;

}








/* Footer Start */

    .footer {
          height: 100%;
          padding:5em ;

    }

    .footer-wrapper {
        padding: 1em 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }




.border1 {
        width:80%;

    }
 .border {
        width:100%;
    }
