@media(min-width:48em) {

    #triangle {
        position: fixed;
        top: 0%;
        left: 3%;
        width: 150px;
        height: 90px;

    }

    .header {
        padding:1em;
        height: 90px;
        background-color: transparent;
    }

    .menu {
        display: none;
    }

    /*important */
    .overlay-content {
        visibility: hidden;
    }

 .links-wrapper {
        display: flex;
        justify-content:flex-end;
        height: 90px;
        overflow: hidden;
        margin: auto;
        visibility: visible;
        list-style: none;
    }

.links {

        padding: 2.5em 1.5em;
        display: inline-block;
        text-decoration: none;
        color: white;
        font-weight: 900;
        font-size: 1em;
        font-family: 'Lato', sans-serif;
        font-variant: small-caps;
        letter-spacing: 3px;

    }

.links:active, .links:visited {
        color: blue;
    }

.links::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        margin: .5em 0;
        background: #A9A9A9;
        transition: width .3s;
    }

.links:hover::after {
        width: 100%;
        transition: width .3s;
    }


.section1 {
        height: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

.story_child1 {
        width: 100%;
        height: 100%;
        padding: 3em;

    }
.circle-container {

        flex-direction: row;


    }
.circle {
        width: 230px;
        height: 230px;
        text-align: center;
        margin: auto;
        padding: 2em;
        border-radius: 50%;
        text-align: center;
        background-color: #FAEBD7;


    }
.circle-svg-icon {

        width: 5em;
        height: 5em;
    }
.circle h1 {
        font-size: 2em;
    }

.green {
        fill: rgb(38, 231, 14);
    }



.banner-tagline h2 {

        font-size:4em;
        padding: .5em 0;


    }

.tagline p {
                font-size: 1.2em;
                padding:0em;
                margin: auto;
    }

.section3 {
            width: 100%;
            height: auto;
            padding:2em;

        }
.meter {
        display: flex;
        flex-direction: row;
        text-align:inherit;

        padding: 2em;
    }

    .food-menu1 li {

        font-size: .9em;
        letter-spacing: .1em;
        font-family: 'Lato', sans-serif;
        padding: 1.5em 8em ;
        color: white;
    }
.food-menu1 {
        width:50%;
        height: auto;
        list-style: none;
        background-color:;
        padding:1em 2em;

    }
    .border1 {
        width:70%;

    }
.food-menu1 h1 {
        padding: 0;
        font-size: 3em;
        text-align: left;
    }

.food-menu1 p {
        font-size: 1.5em;
        padding: 0;
        color: white;
    }

.food_menu_btn {
        padding: 0em 35em 2em 35em;
    }

 .food_menu_btn h1 {
        padding: .4em;
        font-size: 1.5em;

    }
.social i{

        font-size: 1.5em;
        padding:.5em 1em;
        color:white;
        transition: all 200ms ease-in;
    }

    /* Footer Start */
    .footer {
      height: 100%;
      padding: 2em 5em;
    }
    .footer-wrapper {
        padding: 3em 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .footer-wrapper1 {
        width:300px;
    }
    .border {
        width:100%;
    }
   
