/* Footer End */

@media(min-width:48em) {


    .section1 {
        height: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .story_child1 {
        width: 100%;
        height: 100%;
        padding:3em;

    }
    #triangle {
        position: fixed;
        top: 0%;
        left: 3%;
        width: 150px;
        height: 90px;

    }

    header {

        height: 90px;
        background-color: transparent;
    }

    .menu {
        display: none;
    }
    /*important */
    .overlay-content {
        visibility: hidden;
    }
    /*important */
    .links-wrapper {
        display: flex;
        justify-content: flex-end;
        height: 90px;
        overflow: hidden;
        margin: auto;
        visibility: visible;
        list-style: none;
    }

    .links {

        padding: 2.5em 1.5em;
        display: inline-block;
        text-decoration: none;
        color: white;
        font-weight: 900;
        font-size: 1em;
        font-family: 'Lato', sans-serif;
        font-variant: small-caps;
        letter-spacing: 3px;

    }

    .links:active,
    .links:visited {
        color: blue;
    }
    .links::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        margin: .5em 0;
        background: #A9A9A9;
        transition: width .3s;
    }

    .links:hover::after {
        width: 100%;
        transition: width .3s;
    }


    .about {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
    }

    .slide-class {

        background: red;
        width: 80%;
        height: 400px;
    }
    .text1,
    .text2,
    .text3 {
        width: 100%;
        height: 400px;
    }
    .text1 {
        background-image: url(img/5.jpeg);
        background-position: center;
        background-size: cover;
    }
    .text2 {
        background-image: url(img/2.jpeg);
        background-position: center;
        background-size: cover;
    }
    .text3 {
        background-image: url(img/3.jpeg);
        background-position: center;
        background-size: cover;
    }


    .section3 {
        width: 100%;
        height:auto;
        padding:8em 5em ;
    }

    .tagline2 {
        position: absolute;
        top: 0%;
        padding:1em;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 3em; background-color: red;
        font-family: 'Advent Pro', sans-serif;
    }
    .meter {
        display: flex;
        flex-direction: row;
        text-align: center;
        padding:0;
    }
    .food-menu1 {
        width: 50%;
        height: auto;
        list-style: none;


    }
    .food-menu1  h1 {
      padding:0;
        font-size: 3em;
    }
    .food-menu1 p {
        font-size: 1.2em;
        padding:0;
        color: white;
    }

    .food_menu_btn {
        padding: 0em 35em 2em 35em;
    }
    .food_menu_btn h1 {
        padding: .4em;
        font-size: 1.5em;

    }



    /* Footer Start */
    .border {
        width: 80%;
        border-top: 1px solid #595959;

    }

    .footer-wrapper {
        margin: 5em 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;


    }
    .footer-wrapper1 {
        width: 300px;

    }
    /* Footer End */
