@media(min-width:48em) {


    .header {
        height: 80px;
        background-color: transparent;

}
    .menu {
        display: none;
    }

    /*important */
    .overlay-content {
        visibility: hidden;
    }
.logo{
    padding: 1.5em 1.5em;
    position: absolute;
    top:.5%;
    left: 5%;
    transition: all .4s ease-in-out;
}
.logo.sticky{
    padding: .3em 1.5em;
}
 .links-wrapper {
        transition: all .4s ease-in-out;
        display: flex;
        justify-content:flex-end;
        padding-right: 5em;
        height:auto;
        overflow: hidden;
        margin: auto;
        visibility: visible;
        list-style: none;

    }
    .links-wrapper.sticky {
      height: 60px;
      background-color:black;

    }

.links  {
        padding: 2.5em 1.5em;
        text-decoration: none;
        color: white;
        font-weight: 900;
        font-size: 1em;
        font-family: 'Lato', sans-serif;
        font-variant: small-caps;
        letter-spacing: 3px;
        transition: all .5s ease-in-out;
    }

.links.sticky{
    padding: 1.5em 1.5em;
    font-size: .9em;

}
.links::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        margin: .5em 0;
        background: #A9A9A9;
        transition: width .3s;
    }

.links:hover::after {
        width: 100%;
        transition: width .3s;
    }


.section1 {
        height:95%;
        padding: 7em 2em  0 2em ;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

.story_child{
        width: 100%;
        height: 70%;
        padding: 2em;

    }
    .story_child_img {
        width: 70%;
    }

.circle-container {
        flex-direction: row;
    }

.circle {
        width: 220px;
        height: 220px;
        text-align: center;
        margin: auto;
        padding: 3em;
        border-radius: 50%;
        background-color: #FAEBD7;
    }
.circle-svg-icon {
        width: 5em;
        height: 3em;
    }
.circle h1 {
            font-size: 1.5em;
        }



    .banner{
           width: 100%;
           height:150%;
    }

.banner-tagline h2 {
        font-size:5em;
        padding: .5em 0;

    }

.tagline p {
                font-size: 1.2em;
                padding:0em;
                margin: auto;
}


/* Food Menu */

.food_menu {
            width: 100%;
            height:110%;
            padding:2em;
        }
.food_menu_child_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

.food-menu1_list {
            width:100%;
            height: auto;
            list-style: none;

        }
.food-menu1_list li {
        font-size: .9em;
        letter-spacing: .1em;
        font-family: 'Lato', sans-serif;
        padding: 2em  5em;
        color: white;
        text-align: left;
    }
.food-menu1_list li h1{
        font-size: 2em ;
        padding: 0;
        text-align: left;
    }
.food-menu1_list li p{
         font-weight: bold;
    }

.food-menu1_list p {
        font-size: 1.2em;
        padding: 0;
        color: white;
    }

.food_menu_btn {
        padding: 0em 35em 2em 35em;
    }

.social i{

        font-size: 1.5em;
        padding:.5em 1em;
        color:white;
        transition: all 200ms ease-in;
    }



/* Footer Start */

    .footer {
          height: 100%;
          padding: 2em 5em;
    }

    .footer-wrapper {
        padding: 3em 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-wrapper1 {
        width:300px;
    }


.story {
        height:100%;
        display: flex;
        padding:2em;
        flex-direction: row;
        justify-content:flex-start;
    }

    .story_img , .story_img1 {
        width:45%;
        height: auto;
    }
.border1 {
        width:80%;

    }
 .border {
        width:100%;
    }
