
@import url('https://fonts.googleapis.com/css?family=Lato:100');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');




/* Common CSS */

.header {

    position: fixed;
    height: 70px;
    width: 100%;
    background-color: black;
    z-index: 1000;
    outline: none;
}

.links-wrapper {
    visibility: hidden;
}

#triangle {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 120px;
    height: 70px;
    list-style: none;
    transform-origin: 50% 50%;
}

svg polygon {
    stroke-dasharray: 17;
    animation: dash 1.5s infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 100;
    }
}

.menu {

    position: absolute;
    top: 0%;
    right: 0%;
    height: 70px;
    width: 60px;
    cursor: pointer;
}

.menu-icon {

    position: absolute;
    top: 50%;
    right: 5%;
    width: 30px;
    height: 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.menu-line {
    position: absolute;
    left: 0;
    background-color: black;
    height: 3px;
    width: 100%;
    border-radius: 3px;
    pointer-events: none;
    background-color: white;
}

.menu1 {
    top: 0;
}

.menu2 {
    top: 0;
    bottom: 0;
    margin: auto;
}

.menu3 {
    bottom: 0;
}

.menu-close .menu1 {

    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.menu-close .menu2 {
    right: 0;

    transition: right .5s ease-in-out, opacity .5s ease-in-out, transform 0s ease-in-out, -webkit-transform 0s ease-in-out;
}

.menu-close .menu3 {

    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.menu-close.open .menu1 {
    -webkit-transform: translate3d(0, 8.5px, 0) rotate(135deg);
    transform: translate3d(0, 8.5px, 0) rotate(135deg);
}

.menu-close.open .menu2 {
    opacity: 0;
    right: -120px;
    -webkit-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0);
    -webkit-transition: opacity .5s ease-in-out, right .0s ease-in-out .5s, -webkit-transform .5s ease-in-out;
    transition: opacity .5s ease-in-out, right .0s ease-in-out .5s, -webkit-transform .5s ease-in-out;
    transition: opacity .5s ease-in-out, transform .5s ease-in-out, right .0s ease-in-out .5s;
    transition: opacity .5s ease-in-out, transform .5s ease-in-out, right .0s ease-in-out .5s, -webkit-transform .5s ease-in-out;
}

.menu-close.open .menu3 {
    -webkit-transform: translate3d(0, -8.5px, 0) rotate(-135deg);
    transform: translate3d(0, -8.5px, 0) rotate(-135deg);
}

.overlay-content {
    position: fixed;
    top: 70px; left:0;
    background-color: black;
    display: none;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 2em;
    overflow-y: scroll;
}

.overlay-content::-webkit-scrollbar {
    display: none;
}

.overlay-links {
    padding: 3em;
}

.overlay-links .link {
    padding: 20px;
}

.overlay-links .link a {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
}


.banner {

    width: 100%;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/574111/pexels-photo-574111.jpeg?w=940&h=650&auto=compress&cs=tinysrgb.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
}



.banner1 {

    width: 100%;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/76093/pexels-photo-76093.jpeg?w=940&h=650&auto=compress&cs=tinysrgb.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
}


.banner-tagline {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;

}



.tagline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size:1em;
    font-family: 'Lato', sans-serif;
    font-kerning: normal;
    font-variant: small-caps;


}
.banner-tagline h2 {
    font-family: 'Lato', sans-serif;
    font-kerning: normal;
    font-variant: small-caps;
    font-weight: 900;
    font-size:3em;
    margin: auto;
}

.tagline p {
    font-size: 1em;
    word-spacing: .2em;
    padding:.2em;
    margin: auto;
}


.section1 {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 0em;
}

.story_child1 {
    width: 100%;
    height: auto;
    padding: 1.5em;
    text-align: center;
    background-color: black;
    color: white;

}

.story_child1 h1 {
    padding: .5em;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: bolder;
    font-kerning: normal;
    font-variant: small-caps;

}

.story_child1 p {

    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
}

.story_child_img {
    width: 100%;
    height: 350px;
    background-image: url('https://cdn.artbees.net/jupiter/danae/wp-content/uploads/sites/170/2017/02/home-02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
}


.section2 {

    width: 100%;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?w=940&h=650&auto=compress&cs=tinysrgb');
    background-size: cover;
    background-position: center;
}

.circle-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-40%, -50%);
}

.circle {
    width: 150px;
    height: 150px;
    text-align: center;
    margin: auto;
    padding: 1em;
    border-radius: 50%;
    background-color: white;
    text-align: center;


}

.circle h1 {
    padding: 1em 0;
    color: black;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-kerning: normal;
    font-variant: small-caps;
    font-weight: 900;
}

.circle-svg-icon {

    width: 4em;
    height: 4em;
    color: white;
    fill: rgb(38, 231, 14);
    font-weight: 100;

}

.green {
    fill: rgb(38, 231, 14);
}

.tagline1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5em;

}


.section3 {
    padding: 1.5em ;
    width: 100%;
    height: auto;
    background-color: black;
}

.meter {
    display: flex;
    flex-direction: column;

}

.food-menu1 {
    list-style: none;

}

.food-menu1 li {

    font-size: .9em;
    letter-spacing: .1em;
    font-family: 'Lato', sans-serif;
    padding: 1.5em ;
    color: white;
}

.menu-btn {
    font-size: 1em;
    letter-spacing: .1em;
    font-family: 'Marck Script', cursive;
    padding: 1em 3em;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    display: block;
    margin: 1em auto;

}

.food-menu1 h1 {
    font-size: 2em;
    text-align: center;
}

.food_menu_btn {
    padding: 1em 4em;
}

.food_menu_btn h1 {
    padding: 1em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    background-color: white;
}


.about {
    background-color: black;
    width: 100%;
    height: auto;
    padding: 1em;
    display: flex;
    justify-content: center;
}

.slide-class {
    width: 100%;
    height: auto;
    outline: none;
    background-image: url('https://images.pexels.com/photos/574111/pexels-photo-574111.jpeg?w=940&h=650&auto=compress&cs=tinysrgb.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;

}

.text1,
.text2,
.text3 {
    width: 100%;
    height: 400px;
}

/*
   .text1 {
        background-image: url(img/5.jpeg);
        background-position: center;
        background-size: cover;
    }
    .text2 {
        background-image: url(img/2.jpeg);
        background-position: center;
        background-size: cover;
    }
    .text3 {
        background-image: url(img/3.jpeg);
        background-position: center;
        background-size: cover;
    }
*/

i {
    color: white;
    cursor: pointer;
}

.prev {
    height: 50;
    position: relative;
    border: 0;
    outline: none;
    left: 10%;
    top: 50%;
    z-index: 3;
    background-color: transparent;
}

.next {
    height: 50;
    position: relative;
    border: 0;
    outline: none;
    right: 10%;
    z-index: 3;
    background-color: transparent;
}




.section4 {
    width: 100%;
    height: 100%;
    background-color:black;
}




.section5 {
    width: 100%;
    height: 80%;
    background-image: url('https://images.pexels.com/photos/5876/food-salad-healthy-vegetables.jpg?w=940&h=650&auto=compress&cs=tinysrgb');
    background-size: cover;
}



.section6 {
    width: 100%;
    height: 70%;
    background-color: black;
}



/* Desiging scroll Bar */

::-webkit-scrollbar {
    width: 3px;

}

::-webkit-scrollbar-thumb {

    background-color: rgb(255, 255, 255);

}

::-webkit-scrollbar-track {

    background-color: rgb(0, 0, 0);

}

.social{

      width:100%;
      height:auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:center;
      padding: 2em ;

}


.social i{
    font-size: 1.5em;
    padding:.5em;
    color:white;
    transition: all 200ms ease-in;
}

.social i:hover{
  transform: scale(1.5);
}




.footer {
    width: 100%;
    height: auto;
    background-color: black;
      padding:.5em;


}

.footer-wrapper {

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.footer-wrapper1 {
    width: 100%;
    height: 300px;
    padding: 1.5em;
    text-align: center;


}

.border {
    width: 80%;
    margin: auto;
    border-top: 1px solid #595959;

}

.border1 {
    width: 100%;
    margin: auto;
    border-top: 1px solid #595959;

}

.svg-icon {
    width: 50px;
    height: 40px;
    color: white;
    fill: white;
}



.footer-wrapper1 h1 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding: 1em;
    color: white;
}

.footer-wrapper1 h2 {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 1em;
    font-weight: bolder;
    color: white;
}

.footer-wrapper1 p {
    font-family: sans-serif;
    font-size: 15px;
    padding: 1em;
    color: rgb(42, 41, 39);
    line-height: 1.5em;
}



