@import url('https://fonts.googleapis.com/css?family=Lato:100');


/* Reset css */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* base lauout */

html, body{ height: 100%;  margin:0; box-sizing: border-box;  -webkit-box-sizing:border-box; -o-box-sizing:border-box;
    -moz-box-sizing:border-box;}
a{ color: inherit; text-decoration: none;}
a:hover{ text-decoration: none;}
a:focus{ outline: 0;}
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.no-select{ -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }



/*----- Header Style----*/

.header {

    position: fixed;
    height: 70px;
    width: 100%;
    background-color: black;
    z-index: 1000;
    outline: none;
}

.links-wrapper {
    visibility: hidden;
}

.menu {

    position: absolute;
    top: 0%;
    right: 0%;
    height: 70px;
    width: 60px;
    cursor: pointer;
}

.menu-icon {

    position: absolute;
    top: 50%;
    right: 5%;
    width: 30px;
    height: 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.menu-line {
    position: absolute;
    left: 0;
    background-color: black;
    height: 3px;
    width: 100%;
    border-radius: 3px;
    pointer-events: none;
    background-color: white;
}

.menu1 {
    top: 0;
}

.menu2 {
    top: 0;
    bottom: 0;
    margin: auto;
}

.menu3 {
    bottom: 0;
}

.menu-close .menu1 {

    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.menu-close .menu2 {
    right: 0;

    transition: right .5s ease-in-out, opacity .5s ease-in-out, transform 0s ease-in-out, -webkit-transform 0s ease-in-out;
}

.menu-close .menu3 {

    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.menu-close.open .menu1 {
    -webkit-transform: translate3d(0, 8.5px, 0) rotate(135deg);
    transform: translate3d(0, 8.5px, 0) rotate(135deg);
}

.menu-close.open .menu2 {
    opacity: 0;
    right: -120px;
    -webkit-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0);
    -webkit-transition: opacity .5s ease-in-out, right .0s ease-in-out .5s, -webkit-transform .5s ease-in-out;
    transition: opacity .5s ease-in-out, right .0s ease-in-out .5s, -webkit-transform .5s ease-in-out;
    transition: opacity .5s ease-in-out, transform .5s ease-in-out, right .0s ease-in-out .5s;
    transition: opacity .5s ease-in-out, transform .5s ease-in-out, right .0s ease-in-out .5s, -webkit-transform .5s ease-in-out;
}

.menu-close.open .menu3 {
    -webkit-transform: translate3d(0, -8.5px, 0) rotate(-135deg);
    transform: translate3d(0, -8.5px, 0) rotate(-135deg);
}

.overlay-content {
    position: fixed;
    top: 70px; left:0;
    background-color: black;
    display: none;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 2em;
    overflow-y: scroll;
}

.overlay-content::-webkit-scrollbar {
    display: none;
}

.overlay-links {
    padding: 3em;
}

.overlay-links .link {
    padding: 20px;
}

.overlay-links .link a {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
}
.logo{
    padding: .5em 0em;
    position: absolute;
    top:2%;
    left:2%;
    transition: all .4s ease-in-out;
}
.banner1 {
    width: 100%;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/76093/pexels-photo-76093.jpeg?w=940&h=650&auto=compress&cs=tinysrgb.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
}
.banner{
       width: 100%;
       height:auto;
       background-image: url('https://images.pexels.com/photos/890507/pexels-photo-890507.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
       background-size: cover;
       background-attachment: local;
}

.banner-tagline {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding: 2em;

}

.tagline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width:100%;

}
 .taglined {

    background-color: red;
    color: white;

    font-family: 'Lato', sans-serif;
    font-kerning: normal;
    font-variant: small-caps;
    text-align: center;


}
.taglined h3{
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    padding: 2em  1em;
}

.banner-tagline h2 {
    font-family: 'Lato', sans-serif;
    font-size:3em;
    text-align: center;
}

.tagline p {
    font-size: 1em;
    word-spacing: .2em;
    padding:.2em;

}
/* --- SECTION2---*/

.section2 {

    width: 100%;
    height:80%;
    background-image: url('https://images.pexels.com/photos/890507/pexels-photo-890507.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
    background-size: cover;
    background-position: center;
}

.circle-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle {
    width: 150px;
    height: 150px;
    text-align: center;
    align-self: center;
    padding: 2em;
    margin: 1em;
    border-radius: 50%;
    background-color: white;
}

.circle h1 {
    padding: 1em 0;
    color: black;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-kerning: normal;
    font-variant: small-caps;
    font-weight: 900;
}

.circle-svg-icon {

    width: 2em;
    height: 2em;
    color: white;
    fill: black;
    font-weight: 100;

}


.tagline1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5em;

}

/*----story ----*/

.story {
    width: 100%;
    height:auto;

}

.story_child {
    width: 100%;
    height: auto;

    color:black;
    margin: auto;


}

.story_child h1 {
       padding: .5em;
        text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
}

.story_child p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 2.5em;
    text-align: center;
}

.story_child_img {
    width: 100%;
    height: 300px;
    background-image: url('https://cdn.artbees.net/jupiter/danae/wp-content/uploads/sites/170/2017/02/home-02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
}

/* FOOD-MENU SECTION */

.food_menu {
    padding: 1.5em;
    width: 100%;
    height:auto;
    background-color: black;
}

.food_menu_child_container {
    display: flex;
    flex-direction: column;


}

.food-menu1_list {
    list-style: none;
}
.border1 {
    width: 90%;
    margin: auto;
    border-top: 1px solid #595959;

}

.food-menu1_list li h1{text-align: center;}

.food-menu1_list li {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    padding: 1em 1.5em;
    color: white;
}

.menu-btn {
    font-size: 1em;
    letter-spacing: .1em;
    font-family: 'Marck Script', cursive;
    padding: 1em 3em;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    display: block;
    margin: 1em auto;

}



.food_menu_btn {
    padding: 1em 4em;
}



.B-A-N-N-E-R {
    background-color: black;
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
}

.slide-class {
    width: 100%;
    height: 100%;

}

.text1, .text2, .text3 {
    width: 100%;
    height:660px;
    outline: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
}

   .text1 {
       background-image: url('https://images.pexels.com/photos/890507/pexels-photo-890507.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
    }
    .text2 {
        background-image: url('https://images.pexels.com/photos/196643/pexels-photo-196643.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
    }
    .text3 {
        background-image: url('https://images.pexels.com/photos/372851/pexels-photo-372851.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
    }

i {
    color: white;
    cursor: pointer;
}

.prev {
    height: 50;
    position: relative;
    border: 0;
    outline: none;
    left: 10%;
    z-index:2;
    background-color: transparent;
}

.next {
    height: 50;
    position: relative;
    border: 0;
    outline: none;
    right: 10%;
    z-index:2;
    background-color: transparent;
}


/* Desiging scroll Bar */

::-webkit-scrollbar {
    width: 3px;

}

::-webkit-scrollbar-thumb {

    background-color: rgb(255, 255, 255);

}

::-webkit-scrollbar-track {

    background-color: rgb(0, 0, 0);

}

.social{

      width:100%;
      height:auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:center;
      padding: 2em ;

}


.social i{
    font-size: 1.5em;
    padding:.5em;
    color:white;
    transition: all 200ms ease-in;
}

.social i:hover{
  transform: scale(1.5);
}



/*---FOOTER SECTION---*/
.footer {
    width: 100%;
    height: auto;
    background-color: black;
      padding:.5em;


}
.border {
    width: 80%;
    margin: auto;
    border-top: 1px solid #595959;

}


.footer-wrapper {

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-wrapper1 {
    width: 100%;
    height: 300px;
    padding: 1.5em;
    text-align: center;
}
.svg-icon {
    width: 50px;
    height: 40px;
    color: white;
    fill: white;
}
.footer-wrapper1 h1 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding: 1em;
    color: white;
}
.footer-wrapper1 h2 {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 1em;
    font-weight: bolder;
    color: white;
}

.footer-wrapper1 p {
    font-family: sans-serif;
    font-size: 15px;
    padding: 1em;
    color: rgb(42, 41, 39);
    line-height: 1.5em;
}


/* MENU-BANNER---*/
.menu_banner {

    width: 100%;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/76093/pexels-photo-76093.jpeg?w=940&h=650&auto=compress&cs=tinysrgb.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
}

.story {
    width: 100%;
    height: auto;
    background-color:white;
    padding: 0em;
}


.story_title {
        width:100%;
        height: 100%;
        padding: 3em;

    }
 div h1 {
    padding: .2em 0;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 2em;

}

.story_title p {

    font-family: 'Sacramento', cursive;
    font-size: 1.3em;
    line-height: 2em;
}

.story_img {
    width: 100%;
    height: 350px;
    background-image: url('https://images.pexels.com/photos/248422/pexels-photo-248422.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
}
.story_img1 {
    width: 100%;
    height: 350px;
    background-image: url('https://images.pexels.com/photos/262897/pexels-photo-262897.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
}



.story_banner {

    width: 100%;
    height: 130%;
    background-image: url('https://images.pexels.com/photos/192933/pexels-photo-192933.jpeg?w=940&h=650&auto=compress&cs=tinysrgb.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
}
